<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Speechify - Registration</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap">
  <link rel="stylesheet" href="..//static/signup.css">
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <img src="..//static/images/logo.avif" alt="Speechify Logo" width="100">
      <h2>Speechify</h2>
    </div>
    <h3>Registration</h3>
    <form action="/templates/Signup.html" method="POST">

      <div class="input-box">
        <input type="text" name="first_name" placeholder="Enter your First Name" required>
      </div>
      <div class="input-box">
        <input type="text" name="last_name" placeholder="Enter your Last Name" required>
      </div>
      <div class="input-box">
        <input type="text" name="username" placeholder="Enter your Username" required>
      </div>
      <div class="input-box">
        <input type="password" name="password" id="password" placeholder="Create password" required>
      </div>
      <div class="input-box">
        <input type="password" id="confirm_password" placeholder="Confirm password" required oninput="checkPasswordMatch()">
        <span id="password_match"></span>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="/templates/index.html">Login now</a></h3>
      </div>
    </form>
  </div>

  <script>
    function checkPasswordMatch() {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirm_password").value;
      var passwordMatchSpan = document.getElementById("password_match");

      if (password != confirmPassword) {
        passwordMatchSpan.innerHTML = "Passwords do not match!";
      } else {
        passwordMatchSpan.innerHTML = "";
      }
    }
  </script>
</body>

</html>
